/.idea/
/.vs/
/.cache/
/out/
/build/
/CMakeSettings.json

/cmake-build-debug/
/cmake-build-release/
/make/build/
/make/build_cmake.log
/make/build_make.log
/proto/thrift/cpp/
/output/

/deployment/package/
